.orden-container{
    width: 100%;
}

.margin-card{
    margin-top: 1%;
}

.drawer-custom{

    width: 500px;
    text-align: center;
}
.drawer-custom-2{
    margin-top: 70px;
    padding-right: 33%;
    padding-left: 33%;
}